/* reset  */

*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* /reset  */





/* sezione header */


header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color:#ff6900;
    box-shadow: 0 3px 5px #cbae7e;
}

nav{
    width: 80%;
    display: flex;
    background-color:#ff6900;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.gender{
    width: 170px;
}

.gender > a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.logo{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons{
    width: 170px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.icons > a{
    color: white;
    text-decoration: none;
}

/* /sezione header */





/* sezione main */

.grid{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 90px;  
    padding-bottom: 60px; 
}

.element{
    position: relative;
    width: calc((100% - 40px) / 3);
    padding-bottom: 40px;    
}

.background-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
}

.top_card{
    width: 100%;
}

img{
    max-width: 100%;
    display: block;
}

.img1{
    background-image: url(../img/1.webp);
}

.img1hover:hover .img1{
    background-image: url(../img/1b.webp);
}

.img2{
    background-image: url(../img/2.webp);
}

.img2hover:hover .img2{
    background-image: url(../img/2b.webp);
}

.img3{
    background-image: url(../img/3.webp);
}

.img3hover:hover .img3{
    background-image: url(../img/3b.webp);
}

.img4{
    background-image: url(../img/4.webp);
}

.img4hover:hover .img4{
    background-image: url(../img/4b.webp);
}

.img5{
    background-image: url(../img/5.webp);
}

.img5hover:hover .img5{
    background-image: url(../img/5b.webp);
}

.img6{
    background-image: url(../img/6.webp);
}
.img6hover:hover .img6{
    background-image: url(../img/6b.webp);
}

.bottom_card{
    width: 60%;    
}

h4{
    font-size: 11px;
    font-weight: lighter;
    padding-top: 6px;
}

h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

.price{
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    gap: 4px;
}

.new_price{
    color: red;
}

.old_price{
    text-decoration: line-through;
    font-weight: lighter;
}

.heart{
    background-color:white;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 15px;
}

.heart > i{
    font-size: 20px;
}

.red_box{
    position: absolute;
    bottom: 140px;
    left: 0;
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 12px;    
}

.green_box{
    position: absolute;
    bottom: 140px;
    left: 60px;
    background-color: green;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
}

.green_box_2{
    position: absolute;
    bottom: 140px;
    left: 0;
    background-color: green;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
}

/* /sezione main  */





/* sezione footer  */

footer{
    background-color: black;
}

.footer-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
}

.footer-container *{
    color: white;
}

.column-left, .column-right{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
}

ul > *{
    margin-right: 10px;
}

ul a{
    font-size: 12px;
}

ul *{
    text-decoration: none;
}

.social{
    display: flex;
    gap: 8px;
}

.column-right > h5{
    padding-bottom: 10px;
    font-size: 11px;
}

/* /sezione footer  */