*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}


/* sezione header */


header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#ff6900;
}


nav{
    width: 80%;
    display: flex;
    background-color:#ff6900;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}


.gender > a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.logo{
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

/* /sezione header */




/* sezione main */

.grid{
    gap: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;   
}

.element{
    position: relative;
    width: 32%;
}

img{
    width: 100%;
}

.bottom_card{
    width: 50%;    
}

h4{
    font-size: 11px;
    font-weight: lighter;
}

h2{
    font-size: 12px;
    font-weight: bolder;
}

.price{
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    gap: 4px;
}

.new_price{
    color: red;
}

.old_price{
    text-decoration: line-through;
}

.heart{
    height: 12%;
    width: 20%;
    background-color:white;
    position: absolute;
    top: 10px;
    right: 0;
}

.heart > i{
    font-size: 30px;
    padding: 30%;
}

.red_box{
    position: absolute;
    bottom: 80px;
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 12px;    
}

.green_box{
    position: absolute;
    bottom: 80px;
    left: 60px;
    background-color: green;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
}








footer{
    height: 1000px;
    background-color: black;
}